/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Changing the main font and background colour */

body {
	font-family: Raleway, sans-serif;
	background-color: #F8F6F7;
}

/* Changing the background colour for the header */

header {
	background-color: #000060;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #B10F2E;
}

.navbar-font {
	color: #F8F6F7 !important;
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
}

/* Effect on social media buttons */

footer {
  text-align: center;
  padding: 20px;
  background-color: #B10F2E;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 500
}


.email {
	font-size: 22px;
	font-weight: bolder
	
}

.copyright {
	font-size: 12px;
	font-weight: 200
}

.social:hover {
	transform: scale(1.1);
	
}

a:link {
  color: #fdffff;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color:  #fdffff;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #fdffff;
  background-color: transparent;
  text-decoration: none;
 font-weight: bolder
}

a:active {
  color:  #280000;
  background-color: transparent;
  text-decoration: underline;
}


/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}
